
body{
    width: 100%;
    
}

 section {
  display:flex;
  justify-content:space-around;
  flex-direction: row;
  align-items:flex-end;
 }
  

.block {
  text-align:center;
  width: 25%;
  height: 150px;
  margin-top: 10px;
  margin: 2px;
  
}

.blue
{
    background-color: blue;

}
.green
{
    background-color: green;
}
.red
{
    background-color: red;
  
}
.yellow
{
    background-color: yellow;
    width: 100%;  
}
.orange
{
    background-color: orange;
}
